.heading {
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.sub-heading {
    color: white;
    font-size: 28px;
    font-family: nexa light;
    font-weight: 400;
}
.container-form {
    width: 80%;
    margin: auto;
}
.bg {
    background-image: url("pic1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg2 {
    background-image: url("pic2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg3 {
    background-image: url("pic3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
